'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Monkey2'
            'submenu': [
                {
                    'label': 'Build Default'
                    'command': 'language-monkey2:buildDefault'
                },
                {
                    'label': 'Build Current'
                    'command': 'language-monkey2:buildCurrent'
                },
                {
                    'label': 'Toggle Output'
                    'command': 'language-monkey2:toggleOutput'
                },
                {
                    'label': 'Rebuild Autocomplete Database'
                    'command': 'language-monkey2:buildAutocompleteDatabase'
                }
            ]
        ]
    }
]
'context-menu':
    '.file.selected': [
        {
            type: 'separator'
        },
        {
            label: 'Monkey2',
            submenu: [
                {label: 'Set Default Target', command: 'language-monkey2:setCompilationTarget'}
                {label: 'Clear Default Target', command: 'language-monkey2:clearCompilationTarget'}
                {label: 'Build Selected', command: 'language-monkey2:buildSelected'}
            ]
        },
        {
            type: 'separator'
        }
    ]
    'atom-text-editor': [
        {
            type: 'separator'
        },
        {
            label: 'Monkey2',
            submenu: [
                {
                    'label': 'Build Default'
                    'command': 'language-monkey2:buildDefault'
                },
                {
                    'label': 'Build Current'
                    'command': 'language-monkey2:buildCurrent'
                },
                {
                    'label': 'Toggle Output'
                    'command': 'language-monkey2:toggleOutput'
                }
            ]
        },
        {
            type: 'separator'
        }
    ]
