'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Monkey'
            'submenu': [
                {
                    'label': 'Build Default'
                    'command': 'monkey:buildDefault'
                }
            ]
        ]
    }
]
'context-menu':
    '.file.selected': [
        {
            type: 'separator'
        },
        {
            label: 'Monkey',
            submenu: [
                {label: 'Set Default Target', command: 'monkey:setCompilationTarget'}
                {label: 'Compile This File', command: 'monkey:buildSelected'}
            ]
        },
        {
            type: 'separator'
        }
    ]
