".source.monkey2":
  editor:
    commentStart: "' "
".source.monkey2 .meta.extern.monkey2":
  editor:
    increaseIndentPattern: "(?xi)^\\s*\\b(?<!end|end\\s)(type)\\b"
    decreaseIndentPattern: "(?xi)^\\s*\\bend\\s*(type)\\b"
".source.monkey2:not(.source.monkey2 .comment)":
  editor:
    increaseIndentPattern: '''
      (?xi)
      	^\\s*(
      		(?<!end|end\\s)(function|method|type|select|while|try|if(?!.*Then.*)) |
      		else|else\\s*if |
      		for | repeat
      	)\\b
    '''
    decreaseIndentPattern: '''
      (?xi)
      	^\\s*(
      	# end <keyword>
      		end\\s* |
      	# else/if
      		else | else\\s*if |
      		catch | wend | until | forever | next
      	)\\b
    '''
